[user]
	email = rafaqwe1@gmail.com
	name = Rafael Rodrigues
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/af28b32d7e553898b2a91af498b1fb666fdebe0c/node /tmp/vscode-remote-containers-29271a4f-80cb-4005-a645-543fcaab78de.js git-credential-helper $*; }; f"
